{% extends 'index.html.twig' %}

{% block title %}Hello ActorController!
{% endblock %}

{% block body %}
	<h1>{{ actor.name }}</h1>

	{% for program in actor.programs %}
		<li>
			<a href="{{ path("program_show", { slug: program.slug }) }}">{{ program.title }}</a>
		</li>
	{% else %}
		<li>Aucun programme pour cet acteur</li>
	{% endfor %}

	<img class="align-self-start mr-3" src="{{ vich_uploader_asset(actor) }}" alt="{{ actor.name }} picture">

	<a href="{{ path('actor_app_actor_edit', {'id': actor.id}) }}">edit</a>

	{{ include('actor/_delete_form.html.twig') }}

{% endblock %}
